<div class="education-container container-block">
<h2 class="container-block-title">Complementary training</h2>
<div class="item">
    <h4 class="degree">Forecasting evolution </h4>
    <h5 class="meta">Calouste Gulbenkian Foundation, Lisbon</h5>
    <div class="time">2015-2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Large deviations theory workshop </h4>
    <h5 class="meta">Imperial College London</h5>
    <div class="time">2013</div>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">Decision making in nature workshop </h4>
    <h5 class="meta">Imperial College London </h5>
    <div class="time">2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Critical transitions in complex systems </h4>
    <h5 class="meta">Imperial College London </h5>
    <div class="time">2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Adaptive modelling of complex data </h4>
    <h5 class="meta">University College London </h5>
    <div class="time">2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Emergent phenomena via separation of scales in time and space </h4>
    <h5 class="meta">Imperial College London </h5>
    <div class="time">2007</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">2nd FEBS Advanced Lecture Course on Systems Biology: From Molecules to Life </h4>
    <h5 class="meta">Gosau, Austria </h5>
    <div class="time">2007</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Research in Business Context- graduate school skills development </h4>
    <h5 class="meta">Graduate school skills development, UCL </h5>
    <div class="time">2007</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Finance and value creation workshop </h4>
    <h5 class="meta">Graduate school skills development, UCL and London Business School elective courses </h5>
    <div class="time">2007</div>
</div><!--//item-->
</div><!--//education-container-->
