2015 


2013	Forecasting evolution. Calouste Gulbenkian Foundation, Lisbon. Organisers: Dr. Isabel Gordo, Dr. Ville Mustonen, Prof. Michael Lassig. 

Large deviations theory workshop, Imperial College London. Organizer: Dr. Tim Evans

2013	
Decision making in nature workshop, Imperial College London. Organizers: Dr. Vahid Shahrezaei, Dr. Nick Jones, Prof. Mauricio Barahona.

  2012	Critical Transitions in Complex Systems. Imperial College London. Organisers: Prof. Jeroen Lamb, Dr. Greg Pavliotis and Dr. Martin Rasmussen.

  2009	Adaptive Modelling of Complex Data – UCL. Organizers: Prof. John Shawe-Taylor and Prof. Maneesh Sahani.

  2007	Emergent phenomena via separation of scales in time and space. Imperial College London. Organizers: Prof. Henrik Jensen,  Prof. Kim Christensen, Prof. Adrian Sutton and Prof. Martin Howard.

 2007	2nd FEBS Advanced Lecture Course on Systems Biology: From Molecules to
Life. Gosau, Austria, EU. Organizers: Prof. Hans Westerhoff, Prof. Edda Klipp, Prof. Uwe Sauer, Prof.  Karl Kuchler, Dr. Anneke Koster

2007	Research in Business Context- graduate school skills development, UCL.

