 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Applied Mathematics </h4>
    <h5 class="meta"> University College London </h5>
    <div class="time">2006- Feb 2011</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MRes in Mathematical Modelling </h4>
    <h5 class="meta"> University College London </h5>
    <div class="time">2005 - 2006</div>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">Integrated MSc in Physics Engineering </h4>
    <h5 class="meta"> IST, University of Lisbon </h5>
    <div class="time">1997 - 2003</div>
</div><!--//item-->
</div><!--//education-container-->
