 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Applied Mathematics </h4>
    <h5 class="meta"><a href="https://www.ucl.ac.uk/">University College London</a></h5>
    <div class="time">2006- 2011</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MRes in Mathematical Modelling </h4>
    <h5 class="meta"><a href="https://www.ucl.ac.uk/">University College London</a></h5>
    <div class="time">2005 - 2006</div>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">Integrated MSc in Physics Engineering </h4>
    <h5 class="meta"><a href="https://tecnico.ulisboa.pt/en/">IST, University of Lisbon</a></h5>
    <div class="time">1997 - 2003</div>
</div><!--//item-->
</div><!--//education-container-->
