<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral research associate</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="http://www.gen.cam.ac.uk/">University of Cambridge - Department of Genetics </a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Developing HMMs for inference of population parameters from partially observed evolutionary time-series. Also developing stochastic and deterministic models of diffusion on evolutionary graphs. For the purpose of likelihood optimization, have applied several MCMC algorithms, e.g. differential evolution adaptive and reversible jump.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral research associate</h3>
                            <div class="time">2011 - December 2013</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="https://www.imperial.ac.uk/mathematics">Imperial College London - Department of Mathematics</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed methods for network community detection based on stochastic processes on graphs, undirected and directed, with the objective of performing clustering analysis of biological time-course data. Applied Gaussian Process Regression in the analysis of dynamical activity patterns of large sets of genes. Applied minimum spanning tree algorithms for manifold identification and non-linear dimensionality reduction techniques.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postgraduate research assistant </h3>
                            <div class="time">2006 - December 2010</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.ucl.ac.uk/cancer">UCL Cancer Institute</a> and Centre for Mathematics, Physics and Engineering in the Life Sciences and Experimental Biology (<a href="http://www.ucl.ac.uk/complex">CoMPLEX</a>)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Studied dynamic bifurcations in stochastic non-linear bionetworks and ODE/SDEs in intra-cellular pathway modelling. Developed models and analysed effects of non-specific drug targeting in pathways driving excessive proliferative behaviour in Non-Small Cell Lung Carcinomas.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant   </h3>
                            <div class="time">2003 - 2005</div>
                        </div><!--//upper-row-->
                      <div class="company"><a href="http://www.itn.pt/uk/uk_main.htm">ITN, University of Lisbon</a> </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed Artificial Neural Networks, Simulated Annealing and Markov Chain Monte Carlo methods for analysis of multiple ion bean sample spectra. Methods implemented in C.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                        <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant   </h3>
                            <div class="time">2002 - 2003</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://ciencias.ulisboa.pt/en/ibeb-institute-biophysics-and-biomedical-engineering">FCUL, University of Lisbon</a>  </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed models of Magnetization Transfer (MT) phenomena in Magnetic Resonance. Performed segmentation and PCA analysis of MR data. Optimised MT protocols for Multiple Sclerosis patient analysis. Developed applications in PV-Wave and C for statistical analysis of sets of images from cohorts of healthy and MS patients. </p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
