<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior research associate</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="https://www.ucl.ac.uk/womens-health/">University College London - Institute for Women's Health </a></div>
                    </div><!--//meta-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Honorary research fellow</h3>
                            <div class="time">2019 - 2020</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="https://www.ucl.ac.uk/womens-health/">University College London - Department of Mathematics </a></div>
                    </div><!--//meta-->
                </div><!--//item-->
  
                
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Visiting research associate</h3>
                            <div class="time">2018 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="https://www.ucl.ac.uk/womens-health/">University College London - Institute for Women's Health </a></div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral research associate</h3>
                            <div class="time">2014 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="http://www.gen.cam.ac.uk/">University of Cambridge - Department of Genetics </a></div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral research associate</h3>
                            <div class="time">2011 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"> <a href="https://www.imperial.ac.uk/mathematics">Imperial College London - Department of Mathematics</a></div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postgraduate research assistant </h3>
                            <div class="time">2006 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.ucl.ac.uk/cancer">UCL Cancer Institute</a> and Centre for Mathematics, Physics and Engineering in the Life Sciences and Experimental Biology (<a href="http://www.ucl.ac.uk/complex">CoMPLEX</a>)</div>
                    </div><!--//meta-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant   </h3>
                            <div class="time">2003 - 2005</div>
                        </div><!--//upper-row-->
                      <div class="company"><a href="http://www.itn.pt/uk/uk_main.htm">ITN, University of Lisbon</a> </div>
                    </div><!--//meta-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher   </h3>
                            <div class="time">2005 - 2005</div>
                        </div><!--//upper-row-->
                      <div class="company"><a href="http://www.itn.pt/uk/uk_main.htm">Renova SA</a> </div>
                    </div><!--//meta-->
                </div><!--//item-->
                        <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant   </h3>
                            <div class="time">2002 - 2003</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://ciencias.ulisboa.pt/en/ibeb-institute-biophysics-and-biomedical-engineering">FCUL, University of Lisbon</a>  </div>
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->
