<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral research associate</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Cambridge - Department of Genetics </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Working on stochastic model selection in experimental evolution and inference of high-dimensional models from genomic time-series. Developing HMM models for inference of population parameters from partially observed time-series. Also developing stochastic and deterministic models of diffusion on evolutionary graphs.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral research associate</h3>
                            <div class="time">2011 - December 2013</div>
                        </div><!--//upper-row-->
                        <div class="company"> Imperial College London - Department of Mathematics</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed methods for community detection analysis and clustering of biological time-course data based on stochastic processes on graphs, undirected and directed. Applied Gaussian Process Regression in differential expression analysis. Applied minimum spanning tree algorithms for manifold identification and MDS for non-linear dimensionality reduction. </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postgraduate research assistant </h3>
                            <div class="time">2006 - December 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">UCL Cancer Institute and Centre for Mathematics, Physics and Engineering in the Life Sciences and Experimental Biology (CoMPLEX)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Studied dynamic bifurcations in stochastic non-linear bionetworks and ODE/SDEs in intra-cellular pathway modelling. Developed models and analysed effects of non-specific drug targeting in pathways driving excessive proliferative behaviour in Non-Small Cell Lung Carcinomas.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant   </h3>
                            <div class="time">2003 - 2005</div>
                        </div><!--//upper-row-->
                        <div class="company">ITN, University of Lisbon </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed Artificial Neural Networks, Simulated Annealing and Markov Chain Monte Carlo methods for analysis of multiple ion bean sample spectra. Methods implemented in C.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                        <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant   </h3>
                            <div class="time">2002 - 2003</div>
                        </div><!--//upper-row-->
                        <div class="company">FCUL, University of Lisbon  </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed models of Magnetization Transfer (MT) phenomena in Magnetic Resonance. Performed segmentation and PCA analysis of MR data. Optimised MT protocols for Multiple Sclerosis patient analysis. Developed applications in PV-Wave and C for statistical analysis of sets of images from cohorts of healthy and MS patients. </p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
