<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Evaluating genetic drift in time-series evolutionary analysis</a></span> - <span class="project-tagline">Forward-backward/predict-update HMM algorithm for drift model parameter estimation through likelihood maximization and posterior calculation. <li class="github"><i class="fa fa-github"></i><a href="https://github.com/nunonene/Evaluating-genetic-drift-in-time-series-evolutionary-analysis" target="_blank">github.com/nunonene/Evaluating-genetic-drift-in-time-series-evolutionary-analysis</a></li></span>
                    
                </div><!--//item-->
                
            </section><!--//section-->
