<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Code used in projects and publications</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Evaluating genetic drift in time-series evolutionary analysis</a></span> - <span class="project-tagline">Forward-backward/predict-update HMM algorithm for drift model parameter estimation through likelihood maximization and posterior calculation. </span>
                    
                </div><!--//item-->
              <div class="item">
                    <span class="project-title"><a href="#hook">Multi-scale analysis and clustering of stress induced co-expression networks</a></span> - <span class="project-tagline">Protocol for clustering analysis and integration of multiple dataset multi-scale organisation under a graph-theoretical paradigm. </span>
                    
                </div><!--//item-->              
  
            </section><!--//section-->
