<section class="section publications-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
<div class= "item">

    {% assign count = site.data.publications.size %}
 {% for pub in site.data.publications %}
            
                        <p>
                            {{ pub.author }} <br>
                            <a href= "{{ pub.link }}" >{{ pub.title}}</a> <br>
                            <b>{{ pub.journal}}. </b> {{pub.year}}
                        </p>
                
    {% endfor %}

</div><!--//item-->
                  
                   </section><!--//section-->
