
<section class="section publications-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="intro">
                    <p>Published and on-going publications</p>
                </div><!--//intro-->
  
                <div class="item">
                    <span class="project-title"><a href="#hook">Lumby, C.K., Nene, N.R., Illingworth, C.R. Inference of multi-gene influenza dynamics in a human host. </a></span> - <span class="project-tagline">(in preparation). </span>
                </div><!--//item-->
  
                <div class="item">
                    <span class="project-title"><a href="#hook">Nene, N.R., Zaikin, A. The effects of correlated noise in information processing near critical transitions.</a></span> - <span class="project-tagline">(in preparation).</span>
  
              </div><!--//item-->
              <div class="item">
                    <span class="project-title"><a href="#hook">Nene, N.R., Illingworth, C.R.  Inference of fitness landscapes from evolutionary time-series in the limit of large finite populations. </a></span> - <span class="project-tagline">(under review).</span>
             </div><!--//item-->  
  
  
            </section><!--//section-->
