<section class="section publications-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Academic activities</h2>
<div class= "item">

    {% assign count = site.data.teaching.size %}
 {% for pub in site.data.teaching %}
            
                        <p>
                            {{pub.year}}<br>
                           <b>{{ pub.title}}.</b>
                        </p>
                
    {% endfor %}

</div><!--//item-->
                  
                   </section><!--//section-->
