<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Work topics</h2>
<div class="summary">
    <p>  Bayesian inference methods for stochastic dynamics; Markov Chain Monte Carlo (MCMC) optimization methods with differential evolution; Dirichlet mixture models for clustering analysis and multiple dataset integration; Hidden Markov Models (HMMs) for the study of evolutionary time-series; Gaussian process regression for time-series analysis of biological dynamical processes; Undirected and directed network identification from time-series; Network community detection analysis methods; Stochastic processes on graphs; Dynamic bifurcations and noise induced phenomena near critical transitions; C/C++; Matlab; Mathematica; R.
 </p>
</div><!--//summary-->
</section><!--//section-->
