<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Work topics</h2>
<div class="summary">
    <p> Bayesian inference methods for stochastic dynamics; Markov Chain Monte Carlo optimization methods with differential evolution and jump-diffusion; Dirichlet mixture models for clustering analysis and Multiple dataset integration; Hidden Markov Models for the study of evolutionary time-series; Gaussian process regression for time-series analysis of biological dynamical processes; Undirected and directed network identification from time-series; Community detection analysis methods, based on the properties of stochastic processes on graphs, for clustering of time-course data; Dynamic bifurcations and noise induced phenomena near critical transitions.
 </p>
</div><!--//summary-->
</section><!--//section-->
